{
    "svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false  "arrowParens": "avoid", // ??? ?? ?? ?? ??
  "bracketSpacing": false, // ?? ????? ??? ?? ?? ?? 
  "endOfLine": "auto", // EoF ??, OS?? ?? ??? ?? 
  "htmlWhitespaceSensitivity": "css", // HTML ?? ?? ??
  "jsxBracketSameLine": false, // JSX? ??? `>`? ?? ?? ??? ?? 
  "jsxSingleQuote": false, // JSX? singe ???? ?? ??
  "printWidth": 80, //  ? ?? ? ? ??
  "proseWrap": "preserve", // markdown ???? ??? ?? (v1.8.2)
  "quoteProps": "as-needed" // ?? ??? ???? ?? ??
  "semi": true, // ???? ?? ??
  "singleQuote": true, // single ???? ?? ??
  "tabWidth": 2, // ? ?? 
  "trailingComma": "all", // ?? ?? ??? ?, ?? ?? ?? ??
  "useTabs": false, // ? ?? ??
  "vueIndentScriptAndStyle": true, // Vue ??? script? style ??? ???? ?? (v1.19.0)
  "parser": '', // ??? parser? ??, ???? ???
  "filepath": '', // parser? ??? ? ?? ??? ??
  "rangeStart": 0, // ???? ?? ??? ??? ?? ?? ??
  "rangeEnd": Infinity, // ??? ?? ??? ??? ? ?? ??,
  "requirePragma": false, // ?? ??? ?? ??? ??? ???? Pragma? ??? ?? ?? ?? (v1.8.0)
  "insertPragma": false, // ?? ??? @format marker? ?? ?? (v1.8.0)
  "overrides": [ 
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ], // ?? ???? ??? ??? ???, ESLint ?? ??
}
